Mozu.AubuchonDataAdapter.Domain/Service References/OrderHeaderService/OrderHeaderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://soap.ws.jp.com/" targetNamespace="http://soap.ws.jp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="getOrderHeader" type="tns:getOrderHeader" />
  <xs:element name="getOrderHeaderByRef" type="tns:getOrderHeaderByRef" />
  <xs:element name="getOrderHeaderByRefResponse" type="tns:getOrderHeaderByRefResponse" />
  <xs:element name="getOrderHeaderResponse" type="tns:getOrderHeaderResponse" />
  <xs:element name="getOrderHeaders" type="tns:getOrderHeaders" />
  <xs:element name="getOrderHeadersResponse" type="tns:getOrderHeadersResponse" />
  <xs:element name="orderDetail" type="tns:xmlOrderDetail" />
  <xs:element name="orderList" type="tns:xmlOrderList" />
  <xs:complexType name="getOrderHeaderByRef">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:int" />
      <xs:element minOccurs="0" name="clientReference" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderHeaderByRefResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:orderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderHeader" type="tns:xmlOrderHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderHeader">
    <xs:sequence>
      <xs:element name="orderHeaderID" type="xs:int" />
      <xs:element minOccurs="0" name="clientReference" type="xs:string" />
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="referenceField1" type="xs:string" />
      <xs:element minOccurs="0" name="referenceField2" type="xs:string" />
      <xs:element minOccurs="0" name="referenceField3" type="xs:string" />
      <xs:element minOccurs="0" name="referenceField4" type="xs:string" />
      <xs:element minOccurs="0" name="referenceField5" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" type="tns:xmlOrderType" />
      <xs:element minOccurs="0" name="source" type="tns:xmlSource" />
      <xs:element minOccurs="0" name="orderStatus" type="tns:xmlDerivedOrderStatus" />
      <xs:element minOccurs="0" name="billingCode" type="tns:xmlBillingCode" />
      <xs:element minOccurs="0" name="orderSource" type="tns:xmlOrderSource" />
      <xs:element minOccurs="0" name="locale" type="tns:xmlLocale" />
      <xs:element minOccurs="0" name="orderTotal" type="tns:xmlOrderTotal" />
      <xs:element minOccurs="0" name="member" type="tns:xmlMember" />
      <xs:element minOccurs="0" name="billOrderAddress" type="tns:xmlOrderAddress" />
      <xs:element minOccurs="0" name="dynamicFields">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="dynamicField" type="tns:xmlDynamicField" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="orderNotes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="orderNote" type="tns:xmlOrderNote" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="orderShippingInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="orderShippingInfo" type="tns:xmlOrderShippingInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="tracking">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="tracking" type="tns:xmlTracking" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="orderPayments">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="orderPayment" type="tns:xmlOrderPayment" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderTypeCode" type="xs:string" />
      <xs:element minOccurs="0" name="orderTypeName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="sourceCode" type="xs:string" />
      <xs:element minOccurs="0" name="sourceName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlDerivedOrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderStatusCode" type="xs:string" />
      <xs:element minOccurs="0" name="orderStatusName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlBillingCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="billingCodeName" type="xs:string" />
      <xs:element name="optimizationEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderSourceName" type="xs:string" />
      <xs:element name="optimizationEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlLocale">
    <xs:sequence>
      <xs:element minOccurs="0" name="localeCode" type="xs:string" />
      <xs:element minOccurs="0" name="currency" type="tns:xmlCurrency" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderTotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="initialItemTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="itemTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="giftChargeTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="serviceChargeTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="dutyTaxTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="taxTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="shippingHandlingTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="insuranceChargeTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="shippingHandlingTaxTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="orderTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlMember">
    <xs:sequence>
      <xs:element name="memberID" type="xs:int" />
      <xs:element minOccurs="0" name="organization" type="xs:string" />
      <xs:element minOccurs="0" name="nameFirst" type="xs:string" />
      <xs:element minOccurs="0" name="nameMiddle" type="xs:string" />
      <xs:element minOccurs="0" name="nameLast" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="organization" type="xs:string" />
      <xs:element minOccurs="0" name="salutation" type="xs:string" />
      <xs:element minOccurs="0" name="nameFirst" type="xs:string" />
      <xs:element minOccurs="0" name="nameMiddle" type="xs:string" />
      <xs:element minOccurs="0" name="nameLast" type="xs:string" />
      <xs:element minOccurs="0" name="address1" type="xs:string" />
      <xs:element minOccurs="0" name="address2" type="xs:string" />
      <xs:element minOccurs="0" name="address3" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" name="phoneWork" type="xs:string" />
      <xs:element minOccurs="0" name="phoneHome" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="tns:xmlState" />
      <xs:element minOccurs="0" name="country" type="tns:xmlCountry" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlState">
    <xs:sequence>
      <xs:element minOccurs="0" name="stateCode" type="xs:string" />
      <xs:element minOccurs="0" name="stateName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlCountry">
    <xs:sequence>
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="countryName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlDynamicField">
    <xs:sequence>
      <xs:element minOccurs="0" name="dynamicFieldValue" type="xs:string" />
      <xs:element minOccurs="0" name="dynamicFieldLayout" type="tns:xmlDynamicFieldLayout" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlDynamicFieldLayout">
    <xs:sequence>
      <xs:element minOccurs="0" name="fieldCode" type="xs:string" />
      <xs:element minOccurs="0" name="fieldLabel" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderNote" type="xs:string" />
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderShippingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="shippingHandling" type="xs:decimal" />
      <xs:element minOccurs="0" name="shippingHandlingTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="insuranceCharge" type="xs:decimal" />
      <xs:element minOccurs="0" name="initialShippingHandling" type="xs:decimal" />
      <xs:element minOccurs="0" name="shipMethod" type="tns:xmlShipMethod" />
      <xs:element minOccurs="0" name="orderAddress" type="tns:xmlOrderAddress" />
      <xs:element minOccurs="0" name="orderLines">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="orderLine" type="tns:xmlOrderLine" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlShipMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="shipMethodCode" type="xs:string" />
      <xs:element minOccurs="0" name="shipMethodName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderLine">
    <xs:sequence>
      <xs:element name="orderLineID" type="xs:int" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="unitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="serviceCharge" type="xs:decimal" />
      <xs:element minOccurs="0" name="initialPrice" type="xs:decimal" />
      <xs:element name="autoInclude" type="xs:boolean" />
      <xs:element minOccurs="0" name="orderStatus" type="tns:xmlOrderStatus" />
      <xs:element minOccurs="0" name="catalog" type="tns:xmlCatalog" />
      <xs:element minOccurs="0" name="category" type="tns:xmlCategory" />
      <xs:element minOccurs="0" name="returnType" type="tns:xmlReturnType" />
      <xs:element minOccurs="0" name="reasonCode" type="tns:xmlReasonCode" />
      <xs:element minOccurs="0" name="dynamicFields">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="dynamicField" type="tns:xmlDynamicField" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="orderLineDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="orderLineDetail" type="tns:xmlOrderLineDetail" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderStatusCode" type="xs:string" />
      <xs:element minOccurs="0" name="orderStatusName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlCatalog">
    <xs:sequence>
      <xs:element minOccurs="0" name="catalogItem" type="xs:string" />
      <xs:element minOccurs="0" name="catalogCode" type="xs:string" />
      <xs:element minOccurs="0" name="catalogName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoryCode" type="xs:string" />
      <xs:element minOccurs="0" name="categoryName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlReturnType">
    <xs:sequence>
      <xs:element minOccurs="0" name="returnTypeCode" type="xs:string" />
      <xs:element minOccurs="0" name="returnTypeName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlReasonCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="reasonCodeName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderLineDetail">
    <xs:sequence>
      <xs:element name="orderLineDetailID" type="xs:int" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="dutyTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="giftCharge" type="xs:decimal" />
      <xs:element name="gift" type="xs:boolean" />
      <xs:element minOccurs="0" name="orderStatus" type="tns:xmlOrderStatus" />
      <xs:element minOccurs="0" name="inventory" type="tns:xmlInventory" />
      <xs:element minOccurs="0" name="dynamicFields">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="dynamicField" type="tns:xmlDynamicField" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlInventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="sku" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="color" type="tns:xmlColor" />
      <xs:element minOccurs="0" name="size" type="tns:xmlSize" />
      <xs:element minOccurs="0" name="style" type="tns:xmlStyle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="colorCode" type="xs:string" />
      <xs:element minOccurs="0" name="colorName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlSize">
    <xs:sequence>
      <xs:element minOccurs="0" name="sizeName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlStyle">
    <xs:sequence>
      <xs:element minOccurs="0" name="styleName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlTracking">
    <xs:sequence>
      <xs:element minOccurs="0" name="trackingNumber" type="xs:string" />
      <xs:element minOccurs="0" name="shipDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="carrierName" type="xs:string" />
      <xs:element minOccurs="0" name="carrierServiceName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="paymentTypeString" type="xs:string" />
      <xs:element minOccurs="0" name="paymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="transactionType" type="tns:xmlTransactionType" />
      <xs:element minOccurs="0" name="paymentStatus" type="tns:xmlPaymentStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlTransactionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionTypeCode" type="xs:string" />
      <xs:element minOccurs="0" name="transactionTypeName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlPaymentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="paymentStatusCode" type="xs:string" />
      <xs:element minOccurs="0" name="paymentStatusName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:int" />
      <xs:element minOccurs="0" name="orderHeaderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderHeaderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:orderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderHeaders">
    <xs:sequence>
      <xs:element minOccurs="0" name="projectId" type="xs:int" />
      <xs:element minOccurs="0" name="memberId" type="xs:int" />
      <xs:element minOccurs="0" name="memberNumber" type="xs:string" />
      <xs:element minOccurs="0" name="statusCode" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderHeadersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:orderList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrderList">
    <xs:sequence>
      <xs:element minOccurs="0" name="results" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="orderHeader" type="tns:xmlOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlOrder">
    <xs:sequence>
      <xs:element name="orderHeaderID" type="xs:int" />
      <xs:element minOccurs="0" name="clientReference" type="xs:string" />
      <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="orderType" type="tns:xmlOrderType" />
      <xs:element minOccurs="0" name="source" type="tns:xmlSource" />
      <xs:element minOccurs="0" name="orderStatus" type="tns:xmlDerivedOrderStatus" />
      <xs:element minOccurs="0" name="orderTotal" type="tns:xmlListOrderTotal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlListOrderTotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>