Mozu.AubuchonDataAdapter.Domain/Service References/Loyalty/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="customerRewardsPointsRequest">
    <xs:sequence>
      <xs:element name="RequestorID" nillable="true" type="xs:string" />
      <xs:element name="RequestorKey" nillable="true" type="xs:string" />
      <xs:element name="CustomerId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customerRewardsPointsRequest" nillable="true" type="tns:customerRewardsPointsRequest" />
  <xs:complexType name="customerRewardsPointsReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointTotal" type="xs:double" />
      <xs:element minOccurs="0" name="RewardsEarned" type="xs:double" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListOfRewards" nillable="true" type="tns:ArrayOfRewardsList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customerRewardsPointsReturn" nillable="true" type="tns:customerRewardsPointsReturn" />
  <xs:complexType name="ArrayOfRewardsList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RewardsList" nillable="true" type="tns:RewardsList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRewardsList" nillable="true" type="tns:ArrayOfRewardsList" />
  <xs:complexType name="RewardsList">
    <xs:sequence>
      <xs:element minOccurs="0" name="RewardsNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RewardAmt" type="xs:double" />
      <xs:element minOccurs="0" name="ExpDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RewardsList" nillable="true" type="tns:RewardsList" />
  <xs:complexType name="addCustomerLoyaltyPoints">
    <xs:sequence>
      <xs:element name="RequestorID" nillable="true" type="xs:string" />
      <xs:element name="RequestorKey" nillable="true" type="xs:string" />
      <xs:element name="CustomerId" nillable="true" type="xs:string" />
      <xs:element name="LoyaltyDollarsToAdd" type="xs:double" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element name="OrderNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addCustomerLoyaltyPoints" nillable="true" type="tns:addCustomerLoyaltyPoints" />
  <xs:complexType name="addCustomerLoyaltyPointsReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointsAdded" type="xs:double" />
      <xs:element minOccurs="0" name="PrevPointTotal" type="xs:double" />
      <xs:element minOccurs="0" name="NewPointTotal" type="xs:double" />
      <xs:element minOccurs="0" name="RewardsNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RewardAmt" type="xs:double" />
      <xs:element minOccurs="0" name="ExpDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addCustomerLoyaltyPointsReturn" nillable="true" type="tns:addCustomerLoyaltyPointsReturn" />
  <xs:complexType name="customerPriceRequest">
    <xs:sequence>
      <xs:element name="RequestorID" nillable="true" type="xs:string" />
      <xs:element name="RequestorKey" nillable="true" type="xs:string" />
      <xs:element name="CustomerId" nillable="true" type="xs:string" />
      <xs:element name="ProductID" nillable="true" type="xs:string" />
      <xs:element name="Location" nillable="true" type="xs:string" />
      <xs:element name="OutputTraceMessage" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customerPriceRequest" nillable="true" type="tns:customerPriceRequest" />
  <xs:complexType name="customerGetPriceReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetailPrice" type="xs:double" />
      <xs:element minOccurs="0" name="RegRetailPrice" type="xs:double" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraceMessages" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customerGetPriceReturn" nillable="true" type="tns:customerGetPriceReturn" />
  <xs:complexType name="CustomerFull">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Setupdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="addr1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addr2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addr3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="altphonenumb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="anniversary" type="xs:dateTime" />
      <xs:element minOccurs="0" name="apprcredlim" type="xs:double" />
      <xs:element minOccurs="0" name="arbalance" type="xs:double" />
      <xs:element minOccurs="0" name="arcurrent" type="xs:double" />
      <xs:element minOccurs="0" name="authsigner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthday" type="xs:int" />
      <xs:element minOccurs="0" name="birthmth" type="xs:int" />
      <xs:element minOccurs="0" name="businessname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chargeallow" type="xs:boolean" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ckprivilege" type="xs:boolean" />
      <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creditlimit" type="xs:int" />
      <xs:element minOccurs="0" name="customerstatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="dbrating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="discount" type="xs:double" />
      <xs:element minOccurs="0" name="downloaded" type="xs:boolean" />
      <xs:element minOccurs="0" name="driverlicense" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailaddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeflag" type="xs:boolean" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="hometeamdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hometeamemppayid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hometeamno" type="xs:double" />
      <xs:element minOccurs="0" name="invoicehold" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastchgdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lienlaw" type="xs:boolean" />
      <xs:element minOccurs="0" name="loyaltypts" type="xs:double" />
      <xs:element minOccurs="0" name="maillist" type="xs:boolean" />
      <xs:element minOccurs="0" name="middleinit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numbopenord" type="xs:int" />
      <xs:element minOccurs="0" name="offlinecode" type="xs:int" />
      <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poreference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="porequired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pricecode" type="xs:int" />
      <xs:element minOccurs="0" name="primarystore" type="xs:int" />
      <xs:element minOccurs="0" name="renewalfeecode" type="xs:int" />
      <xs:element minOccurs="0" name="salesmanno" type="xs:int" />
      <xs:element minOccurs="0" name="specialprice" type="xs:boolean" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taxauthority" type="xs:int" />
      <xs:element minOccurs="0" name="taxexexp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="taxexnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taxexreason" type="xs:int" />
      <xs:element minOccurs="0" name="totalissued" type="xs:double" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="webaddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerFull" nillable="true" type="tns:CustomerFull" />
  <xs:complexType name="RequestReserveRewardList">
    <xs:sequence>
      <xs:element name="RequestorID" nillable="true" type="xs:string" />
      <xs:element name="RequestorKey" nillable="true" type="xs:string" />
      <xs:element name="CustomerId" nillable="true" type="xs:string" />
      <xs:element name="ListOfRewards" nillable="true" type="tns:ArrayOfRewardsToBeReserved" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestReserveRewardList" nillable="true" type="tns:RequestReserveRewardList" />
  <xs:complexType name="ArrayOfRewardsToBeReserved">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RewardsToBeReserved" nillable="true" type="tns:RewardsToBeReserved" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRewardsToBeReserved" nillable="true" type="tns:ArrayOfRewardsToBeReserved" />
  <xs:complexType name="RewardsToBeReserved">
    <xs:sequence>
      <xs:element minOccurs="0" name="RewardsNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RewardsToBeReserved" nillable="true" type="tns:RewardsToBeReserved" />
  <xs:complexType name="ReturnReserveRewardList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListOfReservedRewards" nillable="true" type="tns:ArrayOfReservedRewards" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnReserveRewardList" nillable="true" type="tns:ReturnReserveRewardList" />
  <xs:complexType name="ArrayOfReservedRewards">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservedRewards" nillable="true" type="tns:ReservedRewards" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservedRewards" nillable="true" type="tns:ArrayOfReservedRewards" />
  <xs:complexType name="ReservedRewards">
    <xs:sequence>
      <xs:element minOccurs="0" name="RewardsNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authID" type="xs:int" />
      <xs:element minOccurs="0" name="RewardAmt" type="xs:double" />
      <xs:element minOccurs="0" name="ExpDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservedRewards" nillable="true" type="tns:ReservedRewards" />
  <xs:complexType name="RequestRedeemedRewardList">
    <xs:sequence>
      <xs:element name="RequestorID" nillable="true" type="xs:string" />
      <xs:element name="RequestorKey" nillable="true" type="xs:string" />
      <xs:element name="customerid" nillable="true" type="xs:string" />
      <xs:element name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element name="ListOfRewards" nillable="true" type="tns:ArrayOfRewardsToBeRedeemed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestRedeemedRewardList" nillable="true" type="tns:RequestRedeemedRewardList" />
  <xs:complexType name="ArrayOfRewardsToBeRedeemed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RewardsToBeRedeemed" nillable="true" type="tns:RewardsToBeRedeemed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRewardsToBeRedeemed" nillable="true" type="tns:ArrayOfRewardsToBeRedeemed" />
  <xs:complexType name="RewardsToBeRedeemed">
    <xs:sequence>
      <xs:element name="RewardsNo" nillable="true" type="xs:string" />
      <xs:element name="authID" type="xs:int" />
      <xs:element name="RedeemedAmt" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RewardsToBeRedeemed" nillable="true" type="tns:RewardsToBeRedeemed" />
  <xs:complexType name="ReturnRedeemedRewardList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListOfRedeemedRewards" nillable="true" type="tns:ArrayOfRedeemedRewards" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnRedeemedRewardList" nillable="true" type="tns:ReturnRedeemedRewardList" />
  <xs:complexType name="ArrayOfRedeemedRewards">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RedeemedRewards" nillable="true" type="tns:RedeemedRewards" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRedeemedRewards" nillable="true" type="tns:ArrayOfRedeemedRewards" />
  <xs:complexType name="RedeemedRewards">
    <xs:sequence>
      <xs:element minOccurs="0" name="RewardsNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RedeemedAmt" type="xs:double" />
      <xs:element minOccurs="0" name="authID" type="xs:int" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RedeemedRewards" nillable="true" type="tns:RedeemedRewards" />
  <xs:complexType name="RequestCreateRewardList">
    <xs:sequence>
      <xs:element name="RequestorID" nillable="true" type="xs:string" />
      <xs:element name="RequestorKey" nillable="true" type="xs:string" />
      <xs:element name="CustomerId" nillable="true" type="xs:string" />
      <xs:element name="ListOfRewards" nillable="true" type="tns:ArrayOfRewardsToBeCreated" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestCreateRewardList" nillable="true" type="tns:RequestCreateRewardList" />
  <xs:complexType name="ArrayOfRewardsToBeCreated">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RewardsToBeCreated" nillable="true" type="tns:RewardsToBeCreated" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRewardsToBeCreated" nillable="true" type="tns:ArrayOfRewardsToBeCreated" />
  <xs:complexType name="RewardsToBeCreated">
    <xs:sequence>
      <xs:element name="RewardsAmt" type="xs:double" />
      <xs:element name="RewardsType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
      <xs:element name="RewardsLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RewardsToBeCreated" nillable="true" type="tns:RewardsToBeCreated" />
  <xs:complexType name="ReturnCreatedRewardList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListOfReservedRewards" nillable="true" type="tns:ArrayOfCreatedRewards" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnCreatedRewardList" nillable="true" type="tns:ReturnCreatedRewardList" />
  <xs:complexType name="ArrayOfCreatedRewards">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreatedRewards" nillable="true" type="tns:CreatedRewards" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreatedRewards" nillable="true" type="tns:ArrayOfCreatedRewards" />
  <xs:complexType name="CreatedRewards">
    <xs:sequence>
      <xs:element minOccurs="0" name="RewardsNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RewardAmt" type="xs:double" />
      <xs:element minOccurs="0" name="ExpDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreatedRewards" nillable="true" type="tns:CreatedRewards" />
  <xs:complexType name="CustomerRequest">
    <xs:sequence>
      <xs:element name="RequestorID" nillable="true" type="xs:string" />
      <xs:element name="RequestorKey" nillable="true" type="xs:string" />
      <xs:element name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EdgeCustomerid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MozuCustomerid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="businessname" nillable="true" type="xs:string" />
      <xs:element name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="middleInit" nillable="true" type="xs:string" />
      <xs:element name="lastname" nillable="true" type="xs:string" />
      <xs:element name="addr1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addr2" nillable="true" type="xs:string" />
      <xs:element name="city" nillable="true" type="xs:string" />
      <xs:element name="state" nillable="true" type="xs:string" />
      <xs:element name="zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element name="phonenumber" nillable="true" type="xs:string" />
      <xs:element name="emailaddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthmth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maillist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taxexnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ckprivilege" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primarystore" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerRequest" nillable="true" type="tns:CustomerRequest" />
  <xs:complexType name="CustomerReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EdgeCustomerid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MozuCustomerid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="businessname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="middleInit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addr1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addr2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailaddr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthmth" type="xs:int" />
      <xs:element minOccurs="0" name="birthday" type="xs:int" />
      <xs:element minOccurs="0" name="maillist" type="xs:boolean" />
      <xs:element minOccurs="0" name="taxexnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ckprivilege" type="xs:boolean" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primarystore" type="xs:int" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerReturn" nillable="true" type="tns:CustomerReturn" />
</xs:schema>