Mozu.AubuchonDataAdapter.Domain/Service References/Loyalty/xsd0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://50.206.125.135/WebService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetCustomerRewardsPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="customerRewardsPointsRequest" nillable="true" type="q1:customerRewardsPointsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerRewardsPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCustomerRewardsPointsResult" nillable="true" type="q2:customerRewardsPointsReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoyaltyPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="_addCustomerLoyaltyPoint" nillable="true" type="q3:addCustomerLoyaltyPoints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLoyaltyPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AddLoyaltyPointsResult" nillable="true" type="q4:addCustomerLoyaltyPointsReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerPriceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="_customerPriceRequest" nillable="true" type="q5:customerPriceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerPriceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCustomerPriceDataResult" nillable="true" type="q6:customerGetPriceReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="_customer" nillable="true" type="q7:customerRewardsPointsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCustomerFullResult" nillable="true" type="q8:CustomerFull" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestReserveReward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="_reseveRewardsList" nillable="true" type="q9:RequestReserveRewardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestReserveRewardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="RequestReserveRewardResult" nillable="true" type="q10:ReturnReserveRewardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestRedeemedReward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="_rewardRedeemedList" nillable="true" type="q11:RequestRedeemedRewardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestRedeemedRewardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="RequestRedeemedRewardResult" nillable="true" type="q12:ReturnRedeemedRewardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCreateReward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="_rewardCreateList" nillable="true" type="q13:RequestCreateRewardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestCreateRewardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="RequestCreateRewardResult" nillable="true" type="q14:ReturnCreatedRewardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAddUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="_customerData" nillable="true" type="q15:CustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerAddUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CustomerAddUpdateResult" nillable="true" type="q16:CustomerReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>